<!-- Begin dropdown -->
<div class="dropdown">
	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #fff; color: #000; border: none;">
		操作
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<a class="dropdown-item" href="#">显示全部</a>
		<a class="dropdown-item" href="#" data-toggle="modal" data-target="#newRecordModal">新建</a>
		<a class="dropdown-item" href="#" data-toggle="modal" data-target="#queryRecordModal">查询</a>
		<a class="dropdown-item" href="#" data-toggle="modal" data-target="#updateRecordModal">更改</a>
		<a class="dropdown-item" href="#" data-toggle="modal" data-target="#removeRecordModal">删除</a>
		<!-- <a class="dropdown-item" href="#" data-toggle="modal" data-target="#untitledRecordModal">删除全部</a> -->
	</div>
</div>
<!-- End dropdown -->